.AppIcon {
  /* display: inline-block; */
  color: white;
  font-size: large;
  font-weight: 300;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.AppIcon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
